@font-face {
  font-family: "Open_Sans-Semi_Bold";
  src: url("../fonts/Open_Sans-Semi_Bold/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/Open_Sans-Semi_Bold/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-light";
  src: url("../fonts/Raleway-Light/Raleway-Light.woff") format("woff"),
    url("../fonts/Raleway-Light/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway-Regular/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold/Raleway-Bold.woff") format("woff"),
    url("../fonts/Raleway-Bold/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}