$navigation-background-color: #000000;
$prime-wite-color: #ffffff;
$button-color: #00000000;
$social-title-color: #333333;
$social-text-color: #86878b;
$features-prime-color: #f5f5f5;
$hover-button-color: #ff8b38;
$features-info-title: #212121;
$form-input-color: #bdbdbd;
$social-icon-color: #cccccc;
$outline-color-ivalid: #ff0000;
$outline-color-valid: #008000;


$font-navigation: Open_Sans-Semi_Bold;
$font-banner: Raleway-Light;
$font-social-title: OpenSans-Bold;
$font-social-text: OpenSans-Regular;
$our-process-title: Raleway-Regular;
$price-title: Raleway-Bold;
