.social__link-footer {
  width: 27px;
  height: 27px;
}

.social__icon-footer {
  fill: $prime-wite-color;
}

.social-nav-footer {
  width: 317px;
  height: 23px;
  margin-top: 20px;
}

.footer-facebook_svg {
  width: 25px;
  height: 25px;
}

.footer-twitter_svg {
  width: 28px;
  height: 20px;
}

.footer-google_svg {
  width: 22px;
  height: 30px;
}

.footer-pinterest_svg {
  width: 25px;
  height: 25px;
}

.footer-instagram_svg {
  width: 25px;
  height: 25px;
}

.footer-stumbleupon_svg {
  width: 30px;
  height: 24px;
}

.footer-rss_svg {
  width: 22px;
  height: 22px;
}
