.contact__input {
  display: flex;
  flex-direction: column;
  height: 162px;
  width: 530px;
  justify-content: space-between;
  align-content: space-between;
}

.contact__input_container{
  height: 35px;
}
