.features__first-conteiner {
  background-color: $features-prime-color;
}

.features__second-conteiner {
  background-color: $prime-wite-color;
}

.features__third-conteiner {
  background-color: $features-prime-color;
}
