.features__discr-first {
  align-self: center;
  width: 480px;
}

.features__discr-second {
  margin-top: 104px;
  width: 418px;
}

.features__discr-third {
  margin-top: 106px;
  width: 473px;
}
