.social-nav {
  @extend %list;
  @extend %link;
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 640px;
  height: 56px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
}


.social__icon {
  fill: $social-icon-color;
}

.icon-facebook_svg {
  width: 40px;
  height: 49px;
}

.icon-twitter_svg {
  width: 42px;
  height: 36px;
}

.icon-google_svg {
  width: 42px;
  height: 46px;
}

.icon-pinterest_svg {
  width: 43px;
  height: 43px;
}

.icon-instagram_svg {
  width: 43px;
  height: 43px;
}

.icon-stumbleupon_svg {
  width: 53px;
  height: 41px;
}

.icon-rss_svg {
  width: 40px;
  height: 40px;
}
