.secondary-button {
  @extend %button;
  font-size: 15px;
  line-height: 20px;
  color: $prime-wite-color;
  font-family: $font-navigation;
  background-color: $hover-button-color;
  border-radius: 4px;
  padding: 11px 24px;
  margin-top: 20px;
}
